.main {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
  margin: auto;
}
.firstDiv {
  border-right: 1px solid;
  padding-right: 40px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.winner-button {
  margin-top: 50px;
  margin-left: 10px;
}
